{{ define "profile" }}

{{ block "header" .}}{{ end }}
{{ block "navbar" .}}{{ end }}

<div class="mt-5 container text-center main">
  <div class="profile">
    <p class="h2 text-center my-5">{{ .user.FirstName }} {{ .user.LastName }}</p>
    <form action="" method="post">
      <div class="form-group">
        <label>Фамилия</label>
        <input class="form-control" type="text" name="" required placeholder="Фамилия" value="{{ .user.LastName }}" />
      </div>
      <div class="form-group">
        <label>Имя</label>
        <input class="form-control" type="text" name="" required placeholder="Имя" value="{{ .user.FirstName }}" />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email" name="email" required placeholder="Введите ваш Email" value="{{ .user.Email }}" />
      </div>
      <div class="form-group">
        <label for="phone">Телефон</label>
          <div class="input-group">
            <input type="text" class="form-control" id="phone" name="phone" placeholder="+7(___)___-__-__" value="{{ .user.Phone }}" required="">
            <div class="invalid-feedback w-100">Это поле обязательно!</div>
          </div>
      </div>
      <div class="form-group">
        <label>Действующий пароль</label>
        <input class="form-control" type="password" name="password" placeholder="Действующий пароль" />
      </div>
      <div class="form-group">
        <label>Новый пароль</label>
        <input class="form-control" type="password" name="newpassword" placeholder="Новый пароль" />
      </div>
      <div class="form-group">
        <input class="btn btn-primary btn-block" type="submit" value="Обновить" />
      </div>
    </form>
  </div>
</div>
{{template "footer" .}}
{{ end }}